---
---
@charset "utf-8";

// Our variables
$body-font-family: "Open Sans", serif, Helvetica, Arial, sans-serif;
$header-font-family: $body-font-family;
$label-font-family: $body-font-family;
$serif-font-family: "DejaVuSerif", serif;
$mono-font-family: Consolas, "Liberation Mono", Courier, monospace;

$body-font-size:   14px;
$body-font-weight: normal;
$body-font-style: normal;
$small-font-size:  0.8rem;
$tiny-font-size: 0.6rem;
$base-line-height: 1.5;
$cursor-auto-value: auto;


$spacing-unit:     20px;

$body-font-color:  #222;
$body-bg:          #fdfdfd;
$primary-color:    #EE8433;
$secondary-color:  #F0AD77;
$grey-color:       #55514D;
$grey-color-light: #999;
$grey-color-dark:  #2F2E2C;

$link-color: $secondary-color;
$link-hover-color: $primary-color;

$button-font-family: $body-font-family;
$button-color: #fff;
$button-bg: $primary-color;
$button-hover-color: #fff;
$button-hover-bg: darken($button-bg, 15%);
$button-border-color: #222;
$button-border-radius: 0;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "foundation",
        "padding-margin"
;
//////////////////////////////////////////////////////
/////////////// Custom Code //////////////////////////
//////////////////////////////////////////////////////

body { margin:0; padding:0; min-width: 940px; }
#report-container { position: absolute; top:41px; bottom:0; }
#map { position:absolute; top: 0; bottom:0; right: 0; }

#report {
  position: absolute; top: 0; bottom: 0; overflow: scroll;
  section { min-height: 100%; opacity: 0.2; margin-bottom: 40px; }
  section.active { opacity: 1; }
  img { display: block; margin: 2px auto 12px; }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.6rem; }
  h3, h4, h5, h6 { font-size: 1.4rem; }
  li { font-size: 0.8rem; }
}

nav {
  a { color: $secondary-color; }
  a:hover { color: $primary-color; }
  h3{ margin-bottom: 0; }
  ul{ margin-bottom: 0; list-style: none; }
}

figure{ margin: 12px 0 22px; }
figcaption {
  font-size: 0.65rem;
  color: $grey-color-light;
  margin-bottom: 6px;
}

.serif { font-family: $serif-font-family; }

.small { font-size: $small-font-size; }
.tiny { font-size: $tiny-font-size; }
.quiet { color: $grey-color-light; }

.center { text-align: center; }

.fill-dark { background-color: $grey-color-dark; }
.fill-gray { background-color: $grey-color-light; }
.fill-white { background-color: #fff; }

.keyline-all { border: 1px solid #ccc; }
.keyline-left { border-left: 1px solid #ccc; }
.keyline-right { border-right: 1px solid #ccc; }
.keyline-top { border-top: 1px solid #ccc; }
.keyline-bottom { border-bottom: 1px solid #ccc; }


.animate {
  -webkit-transition:all .25s;
     -moz-transition:all .25s;
      -ms-transition:all .25s;
          transition:all .25s;
}

