<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
  Twitter: https://dev.twitter.com/docs/cards/types/summary-card via
  ============================== -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}"/>
  <meta property="og:site_name" content=" - {{ site.name }}"/>
  <meta property="og:url" content=" - {{ site.url }}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:image" content="{% if page.imageurl %}{{ page.imageurl }}{% else %}{{ site.imageurl }}{% endif %}"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.imageurl %}{{ page.imageurl }}{% else %}{{ site.imageurl }}{% endif %}">

  <link rel="stylesheet" href="{{site.baseurl}}css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="{{site.baseurl}}js/vendor/modernizr.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
</head>
