$bground: #EEE;

$text: rgba(0,0,0,0.75);
$darktext: #FFF;

//moabi blue [used in logo--matches primary links]
$moabi: #29abe2;
$moabihover: #3D7797;


//links
$link: #29abe2; //#3887BE
$linkhover: #63b6e5; //#3D7797
$darklink: #63b6e5;
$darklinkhover: #8fcaec;

$active: #F8AA04;
$activehover: #F8AA04;

$quiet: #4a4a4a;
$quiethover: #888;
$quietdark: rgba(255,255,255,0.5);
$quietdarkhover: rgba(255,255,255,0.75);

$activate: #F86D00;
$darkactivate:#F8AA04;

$transparent: rgba(255, 252, 248, 0.1);
$transparenthover: rgba(255, 252, 248, 0.2);


$light: rgb(255, 252, 248);
$lightTransparent: rgba(255, 252, 248, 0.9);
$orange: #F8AA04;


