<!DOCTYPE html>
<html class="no-js" lang="en">
{% include head.html %}
<body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <!--[if lt IE 8]>
        <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
    <![endif]-->
    <header id="header" class="fill-dark">
        <div class="small-12 columns">
          <section class="mvs">
            <ul class="inline-list">
              {% include nav.html %}
            </ul>
          </section>
        </div>
    </header>

    {{ content }}

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>


<!-- Loading JavaScripts
================================================== -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{site.baseurl}}js/vendor/jquery.js"><\/script>')</script>
<script src="{{site.baseurl}}js/foundation.min.js"></script>
<script src="{{site.baseurl}}js/app.js"></script>

</body>
</html>
